{% load static %}
<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Carronomia</title>
    {% if env_name == 'production' %}
      <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    {% else %}
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    {% endif %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</head>
<body  class="h-100">
    <div id="carronomia" class="container h-100">
        <div class="row align-items-center h-100">
            <div class="col-3"></div>
            <div class="col-6">
                <h1 class="text-center">CARRONOMIA</h1>
                <form id="form w">
                    <div class="input-group mb-3">
                      <input v-model="busqueda" type="text" class="form-control" placeholder="Busca un vehículo" aria-label="Recipient's username" aria-describedby="button-addon2">
                      <button class="btn btn-primary" type="button" id="button-addon2">Buscar</button>

                    </div>
                </form>
                <p>{{ busqueda }}</p>
                <h3 class="text-center">No se deje estafar</h3>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
    <script type="text/javascript">
      let app = new Vue({
        el: "#carronomia",
        data: {
          busqueda: ''
        }
      });
    </script>
</body>
</html>